################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Kotlin/FileContentIndex/10775674-5753-4f74-8ab5-bb420cc65a46.vsidx
/.vs/Kotlin/FileContentIndex/2d37fadf-a7bc-4c65-a3cc-9483a019c888.vsidx
/.vs/Kotlin/FileContentIndex/d1264b2f-ea89-43fa-a774-3e0c4137b81b.vsidx
/.vs/Kotlin/FileContentIndex/90ae1ab8-617b-449a-8d6f-3b93a2a7eb20.vsidx
